# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="3001"
HOST="localhost"       # Hostname for the server

# CORS Settings
CORS_ORIGIN="http://localhost:*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# RPC
RPC_URL_1=""        # mainnet
RPC_URL_11155111="" # sepolia
RPC_URL_8453="",    # base
RPC_URL_42161="",   # arbitrum
RPC_URL_80084=""    # bartio
RPC_URL_31337=""    # foundry